extends ../header.pug

block title
  title #{title} : #{season.name} Registration

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.far.fa-check-square
        span #{season.name} #{division.name} Registration
      div
        form(method='post' action='/masters/register')
          input(type='hidden' name="_csrf" value=csrfToken)
          input(type='hidden' name='season_id' value=season.id)
          input(type='hidden' name='division_id' value=division.id)
          if player
            input(type='hidden' name='id' value=player.id)

          div.content
            h4.is-4.subtitle Team Info
            div.field
              label.label(for='name') Team Name:
              p.control
                input.input#name(type='text' name='name' value=('') required)
            div.field
              label.label(for='logo') Logo URL:
              p.control
                input.input#logo(type='text' name='logo' value=('') required)
            div.field
              label.label(for='scheduler_discord_id') Scheduler Discord Name:
              p.control
                input.input#scheduler_discord_id(type='text' name='scheduler_discord_id' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)

          div.content
            h4.is-4.subtitle Position 1
            div.field
              label.label(for='discord_name_1') Discord Name:
              p.control
                input.input#discord_name_1(type='text' name='discord_name_1' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)
            div.field
              label.label(for='steam_id_1') Dota Friend ID:
              p.control
                input.input#steam_id_1(type='text' name='steam_id_1' value=('') required)
            div.field
              label.label(for='mmr_screenshot_1') MMR Screenshot:
              p.control
                input.input#mmr_screenshot_1(type='url' name='mmr_screenshot_1' value=('') required)

          div.content
            h4.is-4.subtitle Position 2
            div.field
              label.label(for='discord_name_2') Discord Name:
              p.control
                input.input#discord_name_2(type='text' name='discord_name_2' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)
            div.field
              label.label(for='steam_id_2') Dota Friend ID:
              p.control
                input.input#steam_id_2(type='text' name='steam_id_2' value=('') required)
            div.field
              label.label(for='mmr_screenshot_2') MMR Screenshot:
              p.control
                input.input#mmr_screenshot_2(type='url' name='mmr_screenshot_2' value=('') required)

          div.content
            h4.is-4.subtitle Position 3
            div.field
              label.label(for='discord_name_3') Discord Name:
              p.control
                input.input#discord_name_3(type='text' name='discord_name_3' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)
            div.field
              label.label(for='steam_id_3') Dota Friend ID:
              p.control
                input.input#steam_id_3(type='text' name='steam_id_3' value=('') required)
            div.field
              label.label(for='mmr_screenshot_3') MMR Screenshot:
              p.control
                input.input#mmr_screenshot_3(type='url' name='mmr_screenshot_3' value=('') required)

          div.content
            h4.is-4.subtitle Position 4
            div.field
              label.label(for='discord_name_4') Discord Name:
              p.control
                input.input#discord_name_4(type='text' name='discord_name_4' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)
            div.field
              label.label(for='steam_id_4') Dota Friend ID:
              p.control
                input.input#steam_id_4(type='text' name='steam_id_4' value=('') required)
            div.field
              label.label(for='mmr_screenshot_4') MMR Screenshot:
              p.control
                input.input#mmr_screenshot_4(type='url' name='mmr_screenshot_4' value=('') required)

          div.content
            h4.is-4.subtitle Position 5
            div.field
              label.label(for='discord_name_5') Discord Name:
              p.control
                input.input#discord_name_5(type='text' name='discord_name_5' placeholder='User#1234' pattern='^[^#]{2,32}#\\d{4}$' title='Username#1234' value=('') required)
            div.field
              label.label(for='steam_id_5') Dota Friend ID:
              p.control
                input.input#steam_id_5(type='text' name='steam_id_5' value=('') required)
            div.field
              label.label(for='mmr_screenshot_5') MMR Screenshot:
              p.control
                input.input#mmr_screenshot_5(type='url' name='mmr_screenshot_5' value=('') required)

          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if season
              p.control
                button.button.is-danger(formaction='/masters/register/delete') Delete
