extends ../components/base.pug

block title
  title #{title} : #{season.name} Registration

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.far.fa-check-square
        span #{season.name} #{division.name} Registration
      div
        form(method='post' action='/register')
          input(type='hidden' name="_csrf" value=csrfToken)
          input(type='hidden' name='season_id' value=season.id)
          input(type='hidden' name='division_id' value=division.id)
          input(type='hidden' name='adjusted_mmr' value=0)
          input(type='hidden' name='party_mmr' value=0)
          input(type='hidden' name='solo_mmr' value=0)
          if player
            input(type='hidden' name='id' value=player.id)
          div.field
            label.label(for='name') Name:
            p.control
              input.input#name(type='text' value=player.name disabled)
          div.field
            label.label(for='rank') Rank:
            p.control
              input.input#rank(type='text' value=steamUser.rank disabled)
          div.field
            label.label(for='previous_rank') Previous Rank:
            p.control
              input.input#previous_rank(type='text' value=steamUser.previous_rank disabled)
          div.field
            label.label(for='mmr_screenshot') MMR Screenshot:
            p.help Public match data must be exposed for signups.
            p.control
              input.input#mmr_screenshot(type='url' name='mmr_screenshot' value=(player ? player.mmr_screenshot : '') required)
            p.help Provide a screenshot of your current MMR, upload it to a image hosting site (such as imgur) and post the URL here. Make sure it includes the entire stats page
          div.field
            label.label(for='discord_name') Discord Name:
            p.control
              input.input#discord_name(type='text' name='discord_name' placeholder='username' title='username' value=(player ? player.discord_name : '') required)
          div.field
            label.label(for='statement') Statement/Availability:
            p.help Please be sure to mention other leagues/divisions you'll be participating in. Please list the dotabuff links of all your other accounts. Feel free to add if you would like to play a particular role this season. Player statements should contain relevant information.
            p.control
              textarea.textarea#statement(name='statement' placeholder='Enter your player statement here - limited to 500 characters' maxlength='500')= player ? player.statement : ''
          div.box
            h3.title.is-5 Comfort/preference
            div.field
              - var preferenceStrings = ['Uncomfortable', 'Slightly comfortable', 'Comfortable','Very comfortable' ,'Extremely comfortable']
              each role in roles
                label.label= role.name
                p.control
                  each i in [1,2,3,4,5]
                    label.radio
                      if ranks[role.id] === i
                        input(value=i type='radio' name=role.id id=role.id checked required)
                      else
                        input(value=i type='radio' name=role.id id=role.id required)
                      span &nbsp;#{preferenceStrings[i-1]}
          div.field
            label.label Willing to captain?:
            p.help A captain is responsible for drafting the members of the team and scheduling team practice. Captains can ask their teammates to handle drafting and shotcalling responsibilities in game or choose to handle it themselves.
            p.control
              label.radio
                if player && player.will_captain === 'yes'
                  input#will_captain(value='yes' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='yes' type='radio' name='will_captain')
                span &nbsp;Yes
              label.radio
                if player && player.will_captain === 'maybe'
                  input#will_captain(value='maybe' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='maybe' type='radio' name='will_captain')
                span &nbsp;Maybe
              label.radio
                if !player || player.will_captain === 'no'
                  input#will_captain(value='no' type='radio' name='will_captain' checked)
                else if player.will_captain === undefined
                  input#will_captain(value='no' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='no' type='radio' name='will_captain')
                span &nbsp;No
          div.field
            if season.registration_open
              p.control
                label.checkbox(for='standin_only')
                  if player && !player.is_draftable
                    input(id='standin_only' type='checkbox' name='standin_only' checked)
                  else
                    input(id='standin_only' type='checkbox' name='standin_only')
                  span &nbsp;Stand-in only?
            else
              p.control
                input(type='hidden' name='standin_only' value= 'on')
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if season
              p.control
                button.button.is-danger(formaction='/register/delete') Delete
