extends ../components/base.pug

block title
  title #{title} : #{season.name} Registration

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.far.fa-check-square
        span #{season.name} #{division.name} Registration
      div
        form(method='post' action='/register')
          input(type='hidden' name="_csrf" value=csrfToken)
          input(type='hidden' name='season_id' value=season.id)
          input(type='hidden' name='division_id' value=division.id)
          if player
            input(type='hidden' name='id' value=player.id)
          div.field
            label.label(for='name') Name:
            p.control
              input.input#name(type='text' value=player.name disabled)
          div.field
            label.label(for='solo') Solo MMR:
            p.control
              input.input#solo(type='text' value=steamUser.solo_mmr disabled)
          div.field
            label.label(for='party') Party MMR:
            p.control
              input.input#party(type='text' value=steamUser.party_mmr disabled)
          div.field
            label.label(for='adjusted') Adjusted MMR:
            p.control
              input.input#adjusted(type='text' value=player.adjusted_mmr disabled)
          div.field
            label.label(for='rank') Rank:
            p.control
              input.input#rank(type='text' value=steamUser.rank disabled)
          div.field
            label.label(for='adjusted_rank') Adjusted Rank:
            p.control
              input.input#adjusted_rank(type='text' value=player.adjusted_rank disabled)
          div.field
            label.label(for='mmr_screenshot') MMR Screenshot:
            p.control
              input.input#mmr_screenshot(type='text' name='mmr_screenshot' value=(player ? player.mmr_screenshot : ''))
            p.help Provide a screenshot of your current MMR. Make sure it includes Solo and Party MMR
          div.field
            label.label(for='discord_name') Discord Name:
            p.control
              input.input#discord_name(type='text' name='discord_name' placeholder='User#1234' value=(player ? player.discord_name : ''))
          div.field
            label.label(for='statement') Statement/Availability:
            p.help Please be sure to mention other leagues/divisions you'll be participating in.
            p.control
              textarea.textarea#statement(name='statement' placeholder='Enter your player statement here - limited to 500 characters' maxlength='500')= player ? player.statement : ''
          div.box
            h3.title.is-5 Comfort/preference
            p.help 1 being least comfortable 5 being most comfortable
            div.field
              each role in roles
                label.label= role.name
                p.control
                  each i in [1,2,3,4,5]
                    label.radio
                      if ranks[role.id] === i
                        input(value=i type='radio' name=role.id id=role.id checked)
                      else
                        input(value=i type='radio' name=role.id id=role.id)
                      span &nbsp;#{i}
          div.field
            label.label Willing to captain?:
            p.control
              label.radio
                if player && player.will_captain === 'yes'
                  input#will_captain(value='yes' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='yes' type='radio' name='will_captain')
                span &nbsp;Yes
              label.radio
                if player && player.will_captain === 'maybe'
                  input#will_captain(value='maybe' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='maybe' type='radio' name='will_captain')
                span &nbsp;Maybe
              label.radio
                if !player || player.will_captain === 'no'
                  input#will_captain(value='no' type='radio' name='will_captain' checked)
                else if player.will_captain === undefined
                  input#will_captain(value='no' type='radio' name='will_captain' checked)
                else
                  input#will_captain(value='no' type='radio' name='will_captain')
                span &nbsp;No
          div.field
            p.control
              label.checkbox(for='standin_only')
                if player && !player.is_draftable
                  input(id='standin_only' type='checkbox' name='standin_only' checked)
                else
                  input(id='standin_only' type='checkbox' name='standin_only')
                span &nbsp;Stand-in only?
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if season
              p.control
                button.button.is-danger(formaction='/register/delete') Delete
