extends ../header.pug

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/masters/seasons/' + season.id + '/divisions/' + division.id + '/teams')
        button.button.is-warning Teams
    div.control
      a(href='/masters/seasons/' + season.id + '/divisions/' + division.id + '/series')
        button.button.is-info Series
    div.control
      a.button(disabled) Standings
    div.control
      a(href='/masters/seasons/' + season.id + '/divisions/' + division.id + '/matchups')
        button.button.is-primary Matchups

block title
  title #{title} : #{season.name} Week #{round} Standings

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-list
        span #{division.name} #{season ? `Season ${season.number}` : ''} Week #{round} Standings
  +navigationButtons

  each standings in groupedStandings
    div.columns
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Place
            th Name (Captain)
            th Logo
            th Wins
            th Losses
            th Tiebreaker
        tbody
          each standing in standings
            tr
              td= standing.placement
              if standing.disbanded
                td.disbanded
                  a(href='masters/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + standing.id)= standing.name
                  span= standing.captain_name ? ' (' + standing.captain_name + ')' : ''
              else
                td
                  a(href='masters/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + standing.id)= standing.name
                  span= standing.captain_name ? ' (' + standing.captain_name + ')' : ''
              td
                figure.image.is-team-logo.hide-overflow
                  img(src=standing.logo)
              td= standing.wins
              td= standing.losses
              td= standing.tiebreaker

