extends ../header.pug

block title
  title #{title} : Season #{season.number} - #{team.name} Roster

block meta
  meta(name='og:title' content= "RD2L Masters: " + team.name  + " Roster")
  meta(name='og:description' content= team.name + ". Played in " + division.name + " in Season" + season.number + " of RD2L Masters")
  meta(name='description' content="R Dota 2 League. Amateur league where players of all skills are welcome to play.")
  meta(name='og:image' content=team.logo)
  meta(name='og:image:secure_url' content=team.logo)
  meta(name='og:image:width' content='100')
  meta(name='og:image:height' content='60')
  meta(name='og:url' content='https://rd2l.gg')

block content
  div.columns
    div.column
      h3.title.is-3.has-image
        figure.image.is-team-logo-medium.hide-overflow
          img(src=team.logo)
        span &nbsp;Season #{season.number} - #{team.name} Roster
  div.columns
    div.column
      h5.title.is-5
        span Record: #{wins} - #{losses}
      h5.title.is-5
        span Division:
          a(href='/masters/divisions/' + division.id) #{division.name}
      h5.title.is-5
        span Approved:
          if team.approved
            span.icon.has-text-success
              i.far.fa-check-circle
          else
            span.icon.has-text-danger
              i.far.fa-times-circle
  div.columns
    div.column
      h5.title.is-5
        span Players
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Avatar
            th Rank
            if user && user.isAdmin
              th Remove
        tbody
          each player in roster
            tr
              td
                a(href='/profile/' + player.steam_id)= player.name
              td
                figure.image.is-roster.hide-overflow
                  img(src=player.avatar)
              td
                img.image.rank.is-48x48(src=`/assets/medals/${player.rank}.png` alt=player.rank)
              if user && user.isAdmin
                td
                  form
                    input(type='hidden' name='division_id' value=division.id)
                    input(type='hidden' name='season_id' value=season.id)
                    input(type='hidden' name='team_id' value=team.id)
                    input(type='hidden' name='id' value=player.id)
                    input(type='hidden' name="_csrf" value=csrfToken)
                    button.button.is-danger(formaction='/masters/roster/delete' formmethod='post') Remove
      if user && user.isAdmin
        div.field.is-grouped
          p.control
            a(href='/masters/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id + '/add')
              button.button.is-primary Add player
          p.control
            a(href='/masters/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id + '/edit')
              button.button.is-primary Edit team
  div.columns
    div.column
      h5.title.is-5
        span Series
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Week
            th Team Name
            th Team Logo
            th Team Points
            th Opponent Team Points
            th Opponent Team Logo
            th Opponent Team Name
            th Match 1
            th Match 2
            if user && user.isAdmin
              th Edit
        tbody
          each _series in series
            tr
              td= _series.round
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.own.id)= _series.own.name
              td
                figure.image.is-team-logo.hide-overflow
                  img(src=_series.own.logo)
              td= _series.own.points
              if _series.opp.name
                td= _series.opp.points
                td
                  figure.image.is-team-logo.hide-overflow
                    img(src=_series.opp.logo)
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.opp.id)= _series.opp.name
              else
                td 0
                td BYE
                td BYE
              if _series.match_1_url
                td
                  a(href=_series.match_1_url) Link
              else
                td N/A
              if _series.match_2_url
                td
                  a(href=_series.match_2_url) Link
              else
                td N/A
              if user && user.isAdmin
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series/' + _series.id + '/edit') edit
