extends ../components/base.pug

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/playoff-series')
        button.button.is-success Playoffs
    div.control
      a.button(disabled) Bracket

block append head
  style(type='text/css').
    .playoff-wrapper {
      overflow-x: auto;
    }
    .playoff {
      display: flex;
      justify-content: space-evenly;
      min-width: fit-content;
    }

    .round {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 36px;
      width: 200px;
    }

    .away,
    .home {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0.25rem 0 0;
      pointer-events: none;
    }

    .matchup {
      margin: 0 0 0.5rem;
      position: relative;
    }

    .team-name {
      margin: 0 auto 0 0.75rem !important;
      max-width: 10rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      pointer-events: all;
    }

    .team-name a {
      text-decoration: none !important;
    }

    .points {
      width: 25.5px;
    }

    .time-placeholder {
      margin-top: 1.5rem;
    }

    .link-overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    .edit-series {
      display: none !important;
      left: 200px;
      height: 64px !important;
      position: absolute;
      padding: 0 !important;
      top: 0;
    }

    .edit-series a {
      height: 100%;
      padding: 20px 10px;
      width: 100%;
    }

    .matchup:hover .edit-series {
      display: inline-flex !important;
    }

    .matchup .image {
      min-width: 32px;
    }

    .team-seed {
      font-size: 9px;
      margin-left: 4px;
      min-width: 46px;
    }

block title
  title Playoff Bracket

block content
  +navigationButtons
  div.playoff-wrapper
    div.playoff.section
      each round in rounds
        div.round
          each matchup in round
            div.matchup
              if matchup.series_url
                a.link-overlay(href=matchup.series_url)
              div.home.notification.is-primary.is-marginless
                figure.image.is-32x32.hide-overflow
                  img(src=matchup.home_team_logo)
                if matchup.home_seed
                  div.team-seed=matchup.home_seed
                div.team-name.notification.is-primary.is-paddingless
                  if matchup.home_team_id
                    a(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.home_team_division_id + '/teams/' + matchup.home_team_id)= matchup.home_team_captain_name
                  else
                    =matchup.home_team_captain_name
                span.points.tag.is-secondary
                  = matchup.home_points
              div.away.notification.is-secondary.is-marginless
                figure.image.is-32x32.hide-overflow
                  img(src=matchup.away_team_logo)
                if matchup.away_seed
                  div.team-seed=matchup.away_seed
                div.team-name.notification.is-secondary.is-paddingless
                  if matchup.away_team_id
                    a(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.away_team_division_id + '/teams/' + matchup.away_team_id)=matchup.away_team_captain_name
                  else
                    =matchup.away_team_captain_name
                span.points.tag.is-primary
                  = matchup.away_points
              if user && user.isAdmin
                if matchup.id
                  div.tag.is-link.edit-series
                    a.has-text-light(href='/seasons/' + matchup.season_id + '/playoff-series/' + matchup.id + '/edit')
                      i.far.fa-edit
                else
                  div.tag.is-link.edit-series
                    a.has-text-light(href='/seasons/' + season.id + '/playoff-series/create?match=' + matchup.match_number + '&round=' + matchup.round)
                      i.far.fa-edit

