extends ../components/base.pug

block title
  title #{title} : #{verb} Playoff Series #{series ? ' - Round ' + series.round + ' - ' + (series.home ? series.home.name : 'Undecided') + ' v ' + (series.away ? series.away.name : 'Undecided'): ''}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-edit
        span #{verb} Playoff Series #{series ? ' - Round ' + series.round + ' - ' + (series.home ? series.home.name : 'Undecided') + ' v ' + (series.away ? series.away.name : 'Undecided') : ''}
      div
        form(method='post' action='/playoff-series/edit')
          input(type='hidden' name="_csrf" value=csrfToken)
          if series.id
            input(type='hidden' name='id' value=series.id)
          input(type='hidden' name='season_id' value=season.id)
          div.field
            label.label(for='round') Round:
            p.control
              input.input(id='round' type='number' name='round' placeholder='Round' min='1' value=(series.round ? series.round : '') required)
          div.field
            label.label(for='home_team_id') Home team:
            p.control
              span.select
                select(id='home_team_id' name='home_team_id')
                  option(value='') None
                  each team in teams
                    if series.home && team.id === series.home.id
                      option(value=team.id selected)
                        span= team.name
                        span= team.captain_name ? ' (' + team.captain_name + ')' : ''
                    else
                      option(value=team.id)
                        span= team.name
                        span= team.captain_name ? ' (' + team.captain_name + ')' : ''
          div.field
            label.label(for='home_points') Home points:
            input.input(id='home_points' type='number' name='home_points' placeholder='Home points' min='0' value=(series.home ? series.home.points : ''))
          div.field
            label.label(for='away_team_id') Away team:
            p.control
              span.select
                select(id='away_team_id' name='away_team_id')
                  option(value='') None
                  each team in teams
                    if series.away && team.id === series.away.id
                      option(value=team.id selected)
                        span= team.name
                        span= team.captain_name ? ' (' + team.captain_name + ')' : ''
                    else
                      option(value=team.id)
                        span= team.name
                        span= team.captain_name ? ' (' + team.captain_name + ')' : ''
          div.field
            label.label(for='away_points') Away points:
            input.input(id='away_points' type='number' name='away_points' placeholder='Away points' min='0' value=(series.away ? series.away.points : ''))
          div.field
            label.label(for='series_url') Match URL:
            input.input(id='series_url' type='text' name='series_url' placeholder='Match URL' value=(series ? series.series_url : ''))
          div.field
            label.label.is-marginless(for='match_number') Playoff Match Number:
            p.help.is-marginless This determines the vertical order of the matches within a round, starting from 1.
            input.input(id='match_number' type='text' name='match_number' placeholder='Which match number' value=(series.match_number ? series.match_number : ''))
          div.field.column.is-half.is-paddingless
            label.label(for='match_date') Match date
            input.input(type='date' name='match_date' value=(series.match_date ? series.match_date : ''))
          div.field.column.is-half.is-paddingless
            label.label.is-marginless(for='match_time') Match time
            p.help.is-marginless Set the time in EST.
            input.input(type='time' name='match_time' value=(series.match_time ? series.match_time : ''))
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if series.id
              p.control
                button.button.is-danger(formaction='/playoff-series/delete') Delete
