extends ../components/base.pug

block title
  title #{title} : #{division.name}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span #{division.name}
      if division.start_time || division.discord_url || divisionAdmins || division.draft_sheet_url
        h4.title
          span Useful Information
        if division.start_time
          strong Start Time
          p
            span &nbsp;#{division.start_time}
        if division.discord_url
          strong Discord URL
          p
            a(href='https://discord.gg/' + division.discord_url) Invite Link
        if division.draft_sheet_url
          strong Draft Sheet URL
          p
            a(href=division.draft_sheet_url) Draft Sheet
        if divisionAdmins
          strong Division Admins
  div.columns
      if divisionAdmins
        each divisionAdmin in divisionAdmins
          div.column
            div.card.box
              div.media
                div.media-left
                  figure.image.is-48x48
                    a(href='/profile/' + divisionAdmin.steam_id title=divisionAdmin.name)
                      img(src=divisionAdmin.avatar)
                div.content
                  p.title.is-4
                    span= divisionAdmin.name

  div.columns
    div.column
      h4.title
        span Active Season
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Players
            th Captains
            th Stand-ins
            th Teams
            th Series
            th Standings
            th Matchups
        tbody
          tr
            td= seasons.name
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/players') players
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/captains') captains
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/stand-ins') stand-ins
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/teams') teams
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/series') series
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/standings') standings
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/matchups') matchups
          div.field.is-grouped
            p.control
      div.field.is-grouped
        div.control
          a.button.is-primary(href='/divisions/' + division.id + '/all_seasons') View All Seasons
        if user && user.isAdmin
          div.control
            a.button(href='/divisions/' + division.id + '/edit') Edit division
          div.control
            a.button(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/round/edit') Update round
