extends ../components/base.pug

block title
  title #{title} : #{division.name}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span &nbsp;#{division.name}
      h4.title
        span Useful Information
      if division.start_time
        strong Start Time
        p
          span &nbsp;#{division.start_time}
      if division.discord_url
        strong Discord URL
        p
          a(href='https://discord.gg/' + division.discord_url) Invite Link
      p
        span &nbsp;
      h4.title
        span Active Season
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Players
            th Captains
            th Stand-ins
            th Teams
            th Series
            th Standings
            th Matchups
        tbody
          tr
            td= seasons.name
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/players') players
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/captains') captains
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/stand-ins') stand-ins
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/teams') teams
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/series') series
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/standings') standings
            td
              a(href='/seasons/' + seasons.id + '/divisions/' + division.id + '/matchups') matchups
      a(href='/divisions/' + division.id + '/all_seasons')
        button.button.is-primary View All Seasons
      |
      |
      if user && user.isAdmin
        a(href='/divisions/' + division.id + '/edit')
          button.button.is-primary Edit division
