extends ../components/base.pug

block title
  title #{title} : #{verb} Division #{division ? division.name : ''}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-edit
        span #{verb} Division #{division ? division.name : ''}
      div
        form(method='post' action='/divisions/edit')
          if division
            input(type='hidden' name='id' value=division.id)
          div.field
            label.label(for='name') Name:
            p.control
              input.input(id='name' type='text' name='name' placeholder='Name' value=(division ? division.name : '') required)
          div.field
            label.label(for='discord_url') Discord URL:
            p.control
              input.input(id='discord_url' type='text' name='discord_url' placeholder='qJq5C' value=(division ? division.discord_url : ''))
          div.field
            label.label(for='start_time') Default Start Time:
            p.control
              input.input(id='start_time' type='text' name='start_time' placeholder='Sunday 9PM PST' value=(division ? division.start_time : '') required)
          div.field
            p.control
              label.checkbox
                if division && division.active
                  input(id='active' type='checkbox' name='active' checked)
                else
                  input(id='active' type='checkbox' name='active')
                span &nbsp;Is division active?
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if division
              p.control
                button.button.is-danger(formaction='/divisions/delete') Delete
