extends ../components/base.pug

block title
  title #{title} : #{verb} Admin #{admin ? admin.name : ''}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-edit
        span #{verb} Admin #{admin ? admin.name : ''}
      div
        form(method='post' action='/admins/edit')
          if admin
            input(type='hidden' name='steam_id' value=admin.steam_id)
          else
            div.field
              label.label(for='admin.steam_id') Steam ID:
              p.control
              input.input(id='steam_id' type='text' name='steam_id' placeholder='12345678' required)
          if admin
            div.field
              label.label(for='admin.division_id') Division:
              p.control
                select.form-control.input-lg(name='division_id')
                  option(value='', selected= true) No Division
                  each division in divisions
                    option(value=division.id, selected= admin.division_id == division.id) #{division.name}
          else
            div.field
              label.label(for='admin.division_id') Division:
              p.control
                select.form-control.input-lg(name='division_id')
                  option(value='', selected= true) No Division
                  each division in divisions
                    option(value=division.id) #{division.name}
          div.field
            label.label(for='admin.group_id') Admin Group:
            if admin
              p.control
                select.form-control.input-lg(name='group_id')
                  option(value='', selected= true) -- Select --
                  each admin_group in admin_groups
                    option(value=admin_group.id, selected= admin_group.id == admin.group_id) #{admin_group.name}
            else
              p.control
                select.form-control.input-lg(name='group_id')
                  option(value='', selected= true) -- Select --
                  each admin_group in admin_groups
                    option(value=admin_group.id) #{admin_group.name}
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if role
              p.control
                button.button.is-danger(formaction='/admins/delete') Delete