extends ../components/base.pug

block title
  title #{title} : #{season.name} - #{team.name} Roster

block meta
  meta(name='og:title' content= team.name  + " Roster")
  meta(name='og:description' content= team.name + " - led by captain " + captain.name + ". Played in " + division.name + " in " + season.name + " of RD2L")
  meta(name='description' content="Redditors Dota 2 League. Amateur league where players of all skills are welcome to play.")
  meta(name='og:image' content=team.logo)
  meta(name='og:image:secure_url' content=team.logo)
  meta(name='og:image:width' content='150')
  meta(name='og:image:height' content='150')
  meta(name='og:url' content='https://rd2l.gg')

block content
  div.columns
    div.column
      h3.title.is-3.has-image
        figure.image.is-team-logo-medium.hide-overflow
          img(src=team.logo)
        if team.disbanded
          span &nbsp;#{season.name} - #{team.name} Roster &nbsp;  
            span.tooltip(tabindex='-1') 
              span.icon.is-medium
                i.fas.fa-window-close
              span.tooltiptext= "Disbanded"
        else
          span &nbsp;#{season.name} - #{team.name} Roster
  if team.team_number
    div.columns
      div.column
        a(href='https://www.dotabuff.com/esports/teams/' + team.team_number)
          span Team Dotabuff
  div.columns
    div.column
      h5.title.is-5
        span Record: #{wins} - #{losses}
      h5.title.is-5
        span Division: 
          a(href='/divisions/' + division.id) #{division.name}
      h5.title.is-5
        span Captain
      if captain
        div.box
          article.media
            figure.media-left
              p.image.is-64x64
                img(src=captain.avatar)
            div.media-content
              div.content
                p
                  a(href='/profile/' + captain.steam_id)
                    strong= captain.name
                  br
                  | Rank: #{captain.rank}
                  br
                  | Adjusted Rank: #{captain.adjusted_rank}
              if user && user.isAdmin
                nav.level.is-mobile
                  div.level-left
                    form.level-item
                      input(type='hidden' name='division_id' value=division.id)
                      input(type='hidden' name='season_id' value=season.id)
                      input(type='hidden' name='team_id' value=team.id)
                      input(type='hidden' name='id' value=captain.id)
                      input(type='hidden' name="_csrf" value=csrfToken)
                      button.button.is-danger(formaction='/roster/delete' formmethod='post') Remove
      else
        p None
  div.columns
    div.column
      h5.title.is-5
        span Players
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Avatar
            th Rank
            th Adjusted Rank
            if user && user.isAdmin
              th Remove
        tbody
          each player in players
            tr
              td
                a(href='/profile/' + player.steam_id)= player.name
              td
                figure.image.is-32x32.hide-overflow
                  img(src=player.avatar)
              td= player.rank
              td= player.adjusted_rank
              if user && user.isAdmin
                td
                  form
                    input(type='hidden' name='division_id' value=division.id)
                    input(type='hidden' name='season_id' value=season.id)
                    input(type='hidden' name='team_id' value=team.id)
                    input(type='hidden' name='id' value=player.id)
                    input(type='hidden' name="_csrf" value=csrfToken)
                    button.button.is-danger(formaction='/roster/delete' formmethod='post') Remove
      if user && user.isAdmin
        div.field.is-grouped
          p.control
            a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id + '/add')
              button.button.is-primary Add player
          p.control
            a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id + '/edit')
              button.button.is-primary Edit team
  div.columns
    div.column
      h5.title.is-5
        span Series
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Week
            th Team Name
            th Team Logo
            th Team Points
            th Opponent Team Points
            th Opponent Team Logo
            th Opponent Team Name
            th Match 1
            th Match 2
            if user && user.isAdmin
              th Edit
        tbody
          each _series in series
            tr
              td= _series.round
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.own.id)= _series.own.name
              td
                figure.image.is-team-logo.hide-overflow
                  img(src=_series.own.logo)
              td= _series.own.points
              if _series.opp.name
                td= _series.opp.points
                td
                  figure.image.is-team-logo.hide-overflow
                    img(src=_series.opp.logo)
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.opp.id)= _series.opp.name
              else
                td 0
                td BYE
                td BYE
              if _series.match_1_id
                td
                  a(href='https://www.dotabuff.com/matches/' + _series.match_1_id) Dotabuff
                  span
                    | &nbsp;/
                    |
                  a(href='https://www.opendota.com/matches/' + _series.match_1_id) OpenDota
              else
                td N/A
              if _series.match_2_id
                td
                  a(href='https://www.dotabuff.com/matches/' + _series.match_2_id) Dotabuff
                  span
                    |
                    |/
                    |
                  a(href='https://www.opendota.com/matches/' + _series.match_2_id) OpenDota
              else
                td N/A
              if user && user.isAdmin
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series/' + _series.id + '/edit') edit
