extends ../components/base.pug

block title
  title #{title} : #{verb} Team - #{season.name} #{team ? ' - ' + team.name : ''}

block content
  div.columns
    div.column
      h3.title.is-3
        span.icon.is-medium
          i.fa.fa-pencil
        span &nbsp;#{verb} Team - #{season.name} #{team ? ' - ' + team.name : ''}
      div
        form(method='post' action='/teams/edit')
          input(type='hidden' name="_csrf" value=csrfToken)
          if team
            input(type='hidden' name='id' value=team.id)
          input(type='hidden' name='season_id' value=season.id)
          div.field
            label.label(for='name') Name:
            p.control
              input.input(id='name' type='text' name='name' placeholder='Name' value=(team ? team.name : '') required)
          div.field
            label.label(for='logo') Logo:
            p.control
              input.input(id='logo' type='url' name='logo' placeholder='Logo' value=(team ? team.logo : ''))
          div.field
            label.label(for='team_number') Team Number:
            p.control
              input.input(id='team_number' type='number' name='team_number' placeholder='Team Number (Dotabuff)' min='0' value=(team ? team.team_number : '') required)
          div.field
            label.label(for='seed') Seed:
            p.control
              input.input(id='seed' type='number' name='seed' placeholder='Seed' min='0' value=(team ? team.seed : '') required)
          div.field
            p.control
              label.checkbox
                if team && team.disbanded
                  input(id='disbanded' type='checkbox' name='disbanded' checked)
                else
                  input(id='disbanded' type='checkbox' name='disbanded')
                span &nbsp;Disbanded?
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if team
              p.control
                button.button.is-danger(formaction='/teams/delete') Delete
