extends ../components/base.pug

block title
  title #{title} : #{season ? season.name : ''} Team List

block content
  div.columns
    div.column
      h3.title.is-3
        span.icon.is-medium
          i.fa.fa-list
        span &nbsp;#{season ? season.name : ''} Teams
      table.table.is-striped.is-middle-aligned
        thead
          tr
            th Name
            th Logo
            th Seed
            if user && user.isAdmin
              th Edit
        tbody
          each team in teams
            tr
              td= team.name
              td
                figure.image.is-32x32.hide-overflow
                  img(class='logo' src=team.logo)
              td= team.seed
              if user && user.isAdmin
                td
                  a(href='/seasons/' + season.vanity + '/teams/edit/' + team.vanity) edit
      if user && user.isAdmin
        a(href='/seasons/' + season.vanity + '/teams/create')
          button.button.is-primary Add team
