extends ../components/base.pug

mixin adminButtons
  div.columns
    div.column
      div.field.is-grouped
        if user && user.isAdmin
          div.control
            a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/create')
              button.button.is-link Add team
          if teams.length == 0
            div.control
              a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/import')
                button.button.is-link Import teams

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players')
        button.button.is-primary Players
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/captains')
        button.button.is-success Captains
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/stand-ins')
        button.button.is-info Stand-ins
    div.control
      a.button(disabled) Teams
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series')
        button.button.is-info Series
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/standings')
        button.button.is-success Standings
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups')
        button.button.is-primary Matchups
    div.control
      a(href='/seasons/' + season.id + '/playoff-series')
        button.button.is-success Playoffs
    div.control
      a(href='/seasons/' + season.id + '/bracket')
        button.button.is-success Bracket

block title
  title #{title} : #{season ? season.name : ''} Team List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span #{season ? season.name : ''} Teams
  +navigationButtons
  +adminButtons
  div.columns
    table.table.is-striped.is-middle-aligned.is-fullwidth
      thead
        tr
          th Name (Captain)
          th Logo
          th Seed
          if user && user.isAdmin
            th Standin Count
            th Edit
      tbody
        each team in teams
          tr
            td
              a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id)= team.name
              span= team.captain_name ? ' (' + team.captain_name + ')' : ''
            td
              figure.image.is-team-logo.hide-overflow
                img(src=team.logo)
            td= team.seed
            if user && user.isAdmin
              td= team.standin_count
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + team.id + '/edit') edit
  +adminButtons
