extends ../components/base.pug

block title
  title #{title} : #{verb} Player - #{season.name} #{player ? ' - ' + player.name : ''}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-edit
        span #{verb} Player - #{season.name} #{player ? ' - ' + player.name : ''}
      div
        form(method='post' action='/players/edit')
          input(type='hidden' name="_csrf" value=csrfToken)
          if player
            input(type='hidden' name='id' value=player.id)
            input(type='hidden' name='steam_id' value=player.steam_id)
          input(type='hidden' name='season_id' value=season.id)
          input(type='hidden' name='division_id' value=division.id)
          if !player
            div.field
              label.label(for='steam_id') Steam User:
              p.control
                span.select
                  select(id='steam_id' name='steam_id')
                    each steamUser in steamUsers
                      if player && player.steam_id === steamUser.steam_id
                        option(value=steamUser.steam_id selected)= steamUser.name
                      else
                        option(value=steamUser.steam_id)= steamUser.name
          div.field
            label.label(for='statement') Statement:
            p.control
              textarea.textarea#statement(name='statement' placeholder='Enter your player statement here - limited to 500 characters' maxlength='500')= player ? player.statement : ''
          div.field
            label.label Willing to captain?:
            p.control
              label.radio
                if player && player.will_captain === 'yes'
                  input(id='will_captain' value='yes' type='radio' name='will_captain' checked)
                else
                  input(id='will_captain' value='yes' type='radio' name='will_captain')
                span &nbsp;Yes
              label.radio
                if player && player.will_captain === 'maybe'
                  input(id='will_captain' value='maybe' type='radio' name='will_captain' checked)
                else
                  input(id='will_captain' value='maybe' type='radio' name='will_captain')
                span &nbsp;Maybe
              label.radio
                if !player || player.will_captain === 'no'
                  input(id='will_captain' value='no' type='radio' name='will_captain' checked)
                else
                  input(id='will_captain' value='no' type='radio' name='will_captain')
                span &nbsp;No
          div.field
            p.control
              label.checkbox(for='captain_approved')
                if player && player.captain_approved
                  input(id='captain_approved' type='checkbox' name='captain_approved' checked)
                else
                  input(id='captain_approved' type='checkbox' name='captain_approved')
                span &nbsp;Captain approved?
          div.field
            p.control
              label.checkbox(for='is_draftable')
                if !player || player.is_draftable
                  input(id='is_draftable' type='checkbox' name='is_draftable' checked)
                else
                  input(id='is_draftable' type='checkbox' name='is_draftable')
                span &nbsp;Is draftable?
          div.field
            p.control
              label.label(for='ip_address') IP Address:
              input(type='text' name='ip_address' value=player.ip_address readonly)
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if player
              p.control
                button.button.is-danger(formaction='/players/delete') Delete
              p.control
                button.button.is-warning(formaction='/blocked_ip/create') Flag IP
