extends ../components/base.pug

mixin adminButtons
  div.columns
    div.column
      div.field.is-grouped
        if user && user.isAdmin
          div.control
            a.button.is-info(href='/seasons/' + season.id + '/divisions/' + division.id + '/players/create') Add player

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players')
        button.button.is-primary Players
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/captains')
        button.button.is-success Captains
    div.control
      a.button(disabled) Stand-ins
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams')
        button.button.is-warning Teams
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series')
        button.button.is-info Series
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/standings')
        button.button.is-success Standings
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups')
        button.button.is-primary Matchups

block title
  title #{title} : #{season ? season.name : ''} #{division ? division.name : '' } Stand-ins

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-list
        span #{season ? season.name : ''} #{division ? division.name : '' } Stand-ins
  +navigationButtons
  +adminButtons
  div.columns
    div.column.is-wide-scroll
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th #
            th Name
            th Avatar
            th Rank
            th Adjusted Rank
            th Dotabuff&nbsp;/ Opendota
            th Statement
            if user && user.isAdmin
              th MMR Screenshot
              th Vouched?
              th Draftable?
              th Edit
        tbody
          - var count = 0
          each player in players
            - count++
            tr
              td= count
              td
                a(href='/profile/' + player.steam_id)= player.name
              td
                figure.image.is-32x32.hide-overflow
                  img(src=player.avatar)
              td
                figure.image.is-roster.hide-overflow
                  img(src="/assets/medals/" + player.rank + ".png")
              td
                figure.image.is-roster.hide-overflow
                  if player.adjusted_rank > 75
                    img(src="/assets/medals/80.png")
                  else
                    img(src="/assets/medals/" + player.adjusted_rank + ".png")
              td
                a(href='https://www.dotabuff.com/players/' + player.steam_id) Dotabuff
                span
                  | &nbsp;/
                  |
                a(href='https://www.opendota.com/players/' + player.steam_id) OpenDota
              - var space = player.statement.lastIndexOf(' ', 15)
              td.tooltip(tabindex='-1')
                span(tabindex='-1')=player.statement.length > 15 ? player.statement.slice(0, space > 5 ? space : 15) + '…' : player.statement
                if player.statement.length > 15
                  span.tooltiptext= player.statement
              if user && user.isAdmin
                td
                  a(href=player.mmr_screenshot) Link
                td
                  if player.is_vouched || player.has_played
                    span.icon.has-text-success.has-icon
                      i.far.fa-lg.fa-check-circle
                  else
                    span.icon.has-text-danger.has-icon
                      i.far.fa-lg.fa-times-circle
                td
                  if player.is_draftable
                    span.icon.has-text-success.has-icon
                      i.far.fa-lg.fa-check-circle
                  else
                    span.icon.has-text-danger.has-icon
                      i.far.fa-lg.fa-times-circle
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players/' + player.id + '/edit') edit
  +adminButtons
