extends ../components/base.pug

block title
  title #{title} : #{verb} Season #{season ? season.number : ''}

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-edit
        span #{verb} Season #{season ? season.number : ''}
      div
        form(method='post' action='/seasons/edit')
          input(type='hidden' name="_csrf" value=csrfToken)
          if season
            input(type='hidden' name='id' value=season.id)
          div.field
            label.label(for='number') Number:
            p.control
              input.input(id='number' type='number' name='number' placeholder='Number'  min='1' value=(season ? season.number : '') required)
          div.field
            label.label(for='name') Name:
            p.control
              input.input(id='name' type='text' name='name' placeholder='Name' value=(season ? season.name : '') required)
          div.field
            p.control
              label.checkbox
                if season && season.active
                  input(id='active' type='checkbox' name='active' checked)
                else
                  input(id='active' type='checkbox' name='active')
                span &nbsp;Is active season?
          div.field
            p.control
              label.checkbox
                if season && season.registration_open
                  input(id='registration_open' type='checkbox' name='registration_open' checked)
                else
                  input(id='registration_open' type='checkbox' name='registration_open')
                span &nbsp;Is registration open?
          div.field
            p.control
              label.checkbox
                if season && season.activity_check
                  input(id='activity_check' type='checkbox' name='activity_check' checked)
                else
                  input(id='activity_check' type='checkbox' name='activity_check')
                span &nbsp;Are activity checks open?
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
            if season
              p.control
                button.button.is-danger(formaction='/seasons/delete') Delete
