doctype html
html(lang='en')
  head
    title #{title} : #{verb} Series #{series ? ' - Week ' + series.serial + ' - ' + series.home.name + ' v ' + series.away.name : ''}
  body
    h1 #{verb} Series #{series ? ' - Week ' + series.serial + ' - ' + series.home.name + ' v ' + series.away.name : ''}
    form(method='post' action='/series/edit')
      if series
        input(type='hidden' name='id' value=series.id)
      input(type='hidden' name='season_id' value=season.id)
      div
        label(for='serial') Week:
        input(id='serial' type='number' name='serial' value=(series ? series.serial : ''))
      div
        label(for='home_team_id') Home Team:
        select(id='home_team_id' name='home_team_id')
          option(value='') BYE
          each team in teams
            if series && team.id === series.home.id
              option(value=team.id selected)= team.name
            else
              option(value=team.id)= team.name
      div
        label(for='home_points') Home Points:
        input(id='home_points' type='number' name='home_points' value=(series ? series.home.points : ''))
      div
        label(for='away_team_id') Away Team:
        select(id='away_team_id' name='away_team_id')
          option(value='') BYE
          each team in teams
            if series && team.id === series.away.id
              option(value=team.id selected)= team.name
            else
              option(value=team.id)= team.name
      div
        label(for='away_points') Away Points:
        input(id='away_points' type='number' name='away_points' value=(series ? series.away.points : ''))
      div
        label(for='match_1_id') Match 1 ID:
        input(id='match_1_id' type='number' name='match_1_id' value=(series ? series.match_1_id : ''))
      div
        label(for='match_2_id') Match 2 ID:
        input(id='match_2_id' type='number' name='match_2_id' value=(series ? series.match_2_id : ''))
      div
        label(for='match_1_forfeit_home') Match 1 Forfeit?:
        if series && series.match_1_forfeit_home
          input(id='match_1_forfeit_home' type='checkbox' name='match_1_forfeit_home' checked)
        else
          input(id='match_1_forfeit_home' type='checkbox' name='match_1_forfeit_home')
      div
        label(for='match_2_forfeit_home') Match 2 Forfeit?:
        if series && series.match_2_forfeit_home
          input(id='match_2_forfeit_home' type='checkbox' name='match_2_forfeit_home' checked)
        else
          input(id='match_2_forfeit_home' type='checkbox' name='match_2_forfeit_home')
      div
        button Submit
    if series
      form(method='post' action='/series/delete')
        input(type='hidden' name='season_id' value=season.id)
        input(type='hidden' name='id' value=series.id)
        div
          button Delete
