doctype html
html(lang="en")
  head
    title #{title} : #{season.name} Series List
  body
    style(type='text/css').
      .logo {
        display: inline-block;
        vertical-align: middle;
        height: 1.25em;
      }
    h1 #{season.name} Series
    table
      tr
        th Week
        th Home Team Name
        th Home Team Logo
        th Home Team Points
        th Away Team Points
        th Away Team Logo
        th Away Team Name
        th Match 1
        th Match 2
        th Forfeit Match 1?
        th Forfeit Match 2?
        th Edit
      each _series in series
        tr
          td= _series.serial
          td= _series.home.name
          td
            img(class='logo' src=_series.home.logo)
          td= _series.home.points
          if _series.away
            td= _series.away.points
            td
              img(class='logo' src=_series.away.logo)
            td= _series.away.name
          else
            td 0
            td
            td BYE
          if _series.match_1_id
            td
              a(href='https://www.dotabuff.com/matches/' + _series.match_id_1) Dotabuff
              span /
              a(href='https://www.opendota.com/matches/' + _series.match_id_1) OpenDota
          else
            td
          if _series.match_2_id
            td
              a(href='https://www.dotabuff.com/matches/' + _series.match_id_2) Dotabuff
              span /
              a(href='https://www.opendota.com/matches/' + _series.match_id_2) OpenDota
          else
            td
          if _series.match_1_forfeit_home == true
            td Home
          else if _series.match_1_forfeit_home == false
              td Away
          else
            td
          if _series.match_2_forfeit_home == true
            td Home
          else if _series.match_2_forfeit_home == false
              td Away
          else
            td
          td
            a(href='/seasons/' + season.vanity + '/series/edit/' + _series.vanity) edit
    a(href='/seasons/' + season.vanity + '/series/create')
      button Add series
