extends ../components/base.pug

mixin adminButtons
  div.columns
    div.column
      div.field.is-grouped
        if user && user.isAdmin
          div.control
            a.button.is-link(href='/seasons/' + season.id + '/divisions/' + division.id + '/series/create') Add series
          div.control
            a.button(href='/seasons/' + season.id + '/divisions/' + division.id + '/round/edit') Update round

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players')
        button.button.is-primary Players
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/captains')
        button.button.is-success Captains
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/stand-ins')
        button.button.is-info Stand-ins
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams')
        button.button.is-warning Teams
    div.control
      a.button(disabled) Series
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/standings')
        button.button.is-success Standings
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups')
        button.button.is-primary Matchups

block title
  title #{title} : #{season.name} Series List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-list
        span #{division.name} #{season.name} Series
  +navigationButtons
  +adminButtons
  div.columns
    table.table.is-striped.is-middle-aligned.is-fullwidth
      thead
        tr
          th Week
          th Home Team Name
          th Home Team Logo
          th Home Team Points
          th Away Team Points
          th Away Team Logo
          th Away Team Name
          th Match 1
          th Match 2
          th Forfeit Match 1?
          th Forfeit Match 2?
          if user && user.isAdmin
            th Edit
      tbody
        each _series in series
          tr
            td= _series.round
            td
              a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.home.id)= _series.home.name
            td
              figure.image.is-team-logo.hide-overflow
                img(src=_series.home.logo)
            td= _series.home.points
            if _series.away
              td= _series.away.points
              td
                figure.image.is-team-logo.hide-overflow
                  img(src=_series.away.logo)
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + _series.away.id)= _series.away.name
            else
              td 0
              td BYE
              td BYE
            if _series.match_1_id
              td
                a(href='https://www.dotabuff.com/matches/' + _series.match_1_id) Dotabuff
                span
                  | &nbsp;/
                  |
                a(href='https://www.opendota.com/matches/' + _series.match_1_id) OpenDota
            else
              td N/A
            if _series.match_2_id
              td
                a(href='https://www.dotabuff.com/matches/' + _series.match_2_id) Dotabuff
                span
                  |
                  |/
                  |
                a(href='https://www.opendota.com/matches/' + _series.match_2_id) OpenDota
            else
              td N/A
            if _series.match_1_forfeit_home == true
              td Home
            else if _series.match_1_forfeit_home == false
                td Away
            else
              td None
            if _series.match_2_forfeit_home == true
              td Home
            else if _series.match_2_forfeit_home == false
                td Away
            else
              td None
            if user && user.isAdmin
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series/' + _series.id + '/edit') edit
  +adminButtons
