extends ../components/base.pug

block title
  title #{title} : #{season.name} Week #{round} Matchups

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-list
        span #{division.name} #{season.name} Week #{round} Matchups
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Home Team
            th Away Team
        tbody
          each matchup in matchups
            tr
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + matchup.home.id) #{matchup.home.name}
                span= matchup.home.captain_name ? ' (' + matchup.home.captain_name + ')' : ''
              if matchup.away.id
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + matchup.away.id) #{matchup.away.name}
                  span= matchup.away.captain_name ? ' (' + matchup.away.captain_name + ')' : ''
              else
                td= matchup.away.name
      if user.isAdmin
        div.has-text-centered
          if round > 0
            - var prevRound = round - 1
            a.button.is-inline-block(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups/' + (prevRound == maximumRound ? '' : prevRound)) Prev
          else
            a.button.is-inline-block(disabled) Prev
          - var i = 0
          while i <= maximumRound
            if round === i
              a.button.is-inline-block.is-white(disabled)= i
            else
              a.button.is-inline-block.is-white(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups/' + i)= i
            - i++
          if round < maximumRound
            - var nextRound = round + 1
            a.button.is-inline-block(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups/' + (nextRound == maximumRound ? '' : nextRound)) Next
          else
            a.button.is-inline-block(disabled) Next
