extends ../components/base.pug

block title
  title #{title} : #{season.name} Week #{round} Matchups

block content
  div.columns
    div.column
      h3.title.is-3
        span.icon.is-medium
          i.fa.fa-list
        span &nbsp;#{division.name} #{season.name} Week #{round} Matchups
      if round != 0
        a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups/' + (round - 1)) Previous Week Matchups
        span &nbsp;
      if round != maximumRound
        a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups/' + (round + 1)) Next Week Matchups
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Home Team
            th Away Team
        tbody
          each matchup in matchups
            tr
              td
                a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + matchup.home.id) #{matchup.home.name}
                span= matchup.home.captain_name ? ' (' + matchup.home.captain_name + ')' : ''
              if matchup.away.id
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams/' + matchup.away.id) #{matchup.away.name}
                  span= matchup.away.captain_name ? ' (' + matchup.away.captain_name + ')' : ''
              else
                td= matchup.away.name
