extends ../components/base.pug

block title
  title #{title} : #{season.name} Week #{round} Standings

block content
  div.columns
    div.column
      h3.title.is-3
        span.icon.is-medium
          i.fa.fa-list
        span &nbsp;#{season.name} Week #{round} Standings
      table.table.is-striped.is-middle-aligned
        thead
          tr
            th Name (Captain)
            th Logo
            th Wins
            th Losses
            th Tiebreaker
        tbody
          each standing in standings
            tr
              td
                a(href='/seasons/' + season.vanity + '/teams/' + standing.vanity)= standing.name
                span= standing.captain_name ? ' (' + standing.captain_name + ')' : ''
              td
                figure.image.is-32x32.hide-overflow
                  img(src=standing.logo)
              td= standing.wins
              td= standing.losses
              td= standing.tiebreaker
