extends ../components/base.pug

block title
  title #{title} : #{profile.name}

block content
  div.columns
    div.column
      h3.title.is-3.has-image
        figure.image.is-64x64.hide-overflow
          img(src=profile.avatar)
        div
          div #{profile.name}
          div.subtitle.has-icon
            if profile.is_admin
              span.has-text-success
                span.icon
                  i.fa.fa-lock
                span admin
            else if has_played
              span.has-text-success
                span.icon
                  i.fa.fa-flask
                span test subject
            else if vouched
              span.has-text-success
                span.icon
                  i.fa.fa-check-circle-o
                span vouched
                if voucher
                  span  by
                  span
                    a.has-text-success(href='/profile/' + voucher.steam_id)= ' ' + voucher.name
            else
              span.has-text-danger
                span.icon
                  i.fa.fa-times-circle-o
                span not vouched
  div.tile.is-ancestor
    div.tile.is-parent
      article.tile.is-child.notification
        div.content
          p.title Steam Name
          p.subtitle= profile.steam_name
        div.content
          p.title SEAL Name
          p.subtitle= profile.name
        if profile.faceit_name
          div.content
            p.title FACEIT Name
            p.subtitle= profile.faceit_name
    div.tile.is-parent
      article.tile.is-child.notification
        div.content
          p.title Solo MMR
          p.subtitle= profile.solo_mmr
        div.content
          p.title Party MMR
          p.subtitle= profile.party_mmr
        div.content
          p.title Adjusted MMR
          p.subtitle= profile.adjusted_mmr
        div.content
          p.title Draft MMR
          p.subtitle= profile.draft_mmr
    div.tile.is-parent
      article.tile.is-child.notification
        div.content
          p.title Resources
          ul
            li
              a(href='https://steamcommunity.com/profiles/' + profile.id64)
                span Steam
            li
              a(href='https://www.dotabuff.com/players/' + profile.steam_id)
                span Dotabuff
            li
              a(href='https://www.opendota.com/players/' + profile.steam_id)
                span OpenDota
            if profile.faceit_name
              li
                a(href='https://www.faceit.com/en/players/' + profile.faceit_name)
                  span FACEIT Profile
  if user
    div.columns
      div.column
        div.field.is-grouped
          if user && (user.isAdmin || user.steamId === profile.steam_id)
            div.control
              a(href='/profile/' + profile.steam_id + '/edit')
                button.button.is-primary Edit profile
          if !vouched && !has_played && can_vouch
            div.control
              a(href='/profile/' + profile.steam_id + '/vouch')
                button.button.is-warning Vouch player
          if user.isAdmin && vouched && !has_played
            div.control
              a(href='/profile/' + profile.steam_id + '/unvouch')
                button.button.is-danger Unvouch player
